hydra-core
nvidia-ml-py
omegaconf
torch>=2.1
torchmetrics
torchvision
git+https://git@github.com/cyyever/naive_python_lib.git@main#egg=cyy_naive_lib
git+https://git@github.com/cyyever/torch_algorithm.git@main#egg=cyy_torch_algorithm
git+https://git@github.com/cyyever/torch_toolbox.git@main#egg=cyy_torch_toolbox
git+https://git@github.com/cyyever/torch_vision.git@main#egg=cyy_torch_vision
git+ssh://git@github.com/cyyever/torch_cpp_extension.git@main#egg=cyy_torch_cpp_extension
git+https://git@github.com/cyyever/torch_XAI.git@main#egg=cyy_torch_xai
